.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.convert-container {
    padding: 10px;
    display:flex;
    align-items:center; /* vertically aligned! */
    justify-content: center;
  }

.convert-button {
    
}

.ta {
    font-size: 1rem;
}

.ta > textarea {
    width: 100%;
    height: 90%;
}

.ta > div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.ta > div > label:first-child {
    font-size: 2rem;
    color: lime;
}

.ta > div > label:not(:first-child) {
    font-size: 1.5rem;
    color: lime;
}

.ta > div > label:not(:first-child) > input {
    width: 100px;
}